* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
html, body {
    height: 100vh;
    width: 100vw;
    overflow: clip;
    background-color: grey;
}
.gameFieldDiv {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    flex-shrink: 0;
    box-sizing: border-box;
}
#gameFieldCanvas{
    background-color: grey;
}
